@using Newtonsoft.Json
@model APIShared.HomeIndexModel

<div id='app-root'>Loading...</div>

@section scripts {
    <script type="text/javascript">
        window['external-settings'] = @Html.Raw(JsonConvert.SerializeObject(Model));
    </script>
    
    <script src="~/dist/main.js" asp-append-version="true"></script>
}
